<!-- Design -->



<footer id="footer">
    <div>

        <ul class="horizontal-list text-center social-icons">

            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-discord"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>                                                
        </ul>
    </div>
</footer>